
  <div class="container" fxLayout="column" fxLayoutAlign="center">
    <div fxFlex [ngStyle.lt-lg]="{'background-attachment': 'inherit'}" style="background-image: url(../../assets/images/intro/intro_b3.png); -webkit-filter: grayscale(1); filter: grayscale(1); background-size:cover; border:ridge; background-attachment: fixed;">
      <div style="min-height: 450px;" [ngStyle.lt-sm]="{'min-height':'250px'}">
        <div class="container" fxLayout fxLayoutAlign="left" fxLayoutAlign.lt-sm="center">
          <img style="margin: 10px;" [ngStyle.lt-sm]="{'transform': 'scale(0.9)','margin-right':'13rem','width':'150px','height': '150px'}" fxFlexFill.lt-sm src="../../assets/images/intro/logo-final.png"/>
        </div>
      </div>
    </div>
  </div>

  <div class="container main-images" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="60%" fxFlex.lt-sm="100%" class="invite">
      <div style="background-image: url(../../assets/images/backgrounds/bg2.jpg); background-size:cover; background-position-x: right; min-height: 450px; position: relative">

        <div class="container" fxLayout="row wrap" fxLayoutAlign="left">
          <img class="avatar" src="{{user.photoURL}}" alt="">
          <div class="container" fxLayout="column" fxLayoutGap="10px">
            <h3>Dear</h3>
            <h1 style="display: flex;align-items: center;">{{user.displayName}}</h1>
          </div>
        </div>

        <div class="container" fxLayout>
          <div  fxFlex="100" fxFlex.gt-sm="60">
            <div fxLayout="column">
              <p style="margin-bottom: 50px">
                It is with great pleasure,<br> that we, <br> <span class="dancing">Ruhan Odendaal</span> <br> & <br> <span class="dancing">Boraine Barnard</span>
                <br> invite you to join us in
                celebrating our wedding day on the <br> <span class="dancing">18th of May 2019</span> <br> at the Blades hotel.
              </p>
              <p>The ceremony will commence at <br> <span class="dancing">15h30</span>,<br> therefore, you are welcome to arrive at
                <br> <span class="dancing">15h00</span>.</p>
              <p>Dinner & Dancing to follow after the ceremony.</p>
              <p>We regret <br> <span class="dancing"> No Children Allowed </span></p>
              <p>Please <span class="dancing-2">RSVP</span> on our website before or on the <span class="dancing-2">11th of March 2019</span> .</p>
            </div>
          </div>
        </div>

        <!--[ngStyle.lt-sm]="{'position': 'relative'}" style="position: absolute; bottom: 0px;"-->
        <div>
          <div *ngIf="!guestItem.declined && !guestItem.going" class="container" fxLayout fxLayoutGap="20px">
            <button mat-raised-button color="accent" (click)="acceptInvite()">Accept</button>
            <button mat-raised-button color="accent" (click)="declineInvite()">Decline</button>
          </div>
          <div *ngIf="guestItem.going && guestItem.plusOne" class="container" fxLayout fxLayoutGap="20px">
            <div fxLayout="column" fxLayoutGap="20px">
              <p>You have the option to invite a plus one. Please indicate if you will be bringing along someone with you.</p>
              <div fxLayout="">
                <button *ngIf="!guestItem.plusOneGoing" mat-raised-button color="accent" (click)="acceptPlusOneInvite()">I am bringing a plus one</button>
                <button *ngIf="guestItem.plusOneGoing" mat-raised-button color="accent" (click)="acceptPlusOneInvite()">I am going solo</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-card>
  </div>

  <div class="container main-images" fxLayout fxLayoutAlign="center">
    <div fxFlex="90%" fxFlex.lt-sm="100%">
      <div class="container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="30px">
        <mat-card fxFlex>
          <div class="card">
            <img class="card-image" src="../../assets/images/intro/intro_1.png" alt="">
            <div class="container" fxLayout fxLayoutAlign="center">
              <button fxFlex mat-raised-button color="accent" (click)="navigateTo('venue')">Venue</button>
            </div>
          </div>
        </mat-card>
        <mat-card fxFlex>
          <div class="card">
            <img class="card-image" src="../../assets/images/intro/intro_5.png" alt="">
            <div class="container" fxLayout fxLayoutAlign="center">
              <button fxFlex mat-raised-button color="accent" (click)="navigateTo('guests')">Guests</button>
            </div>
          </div>
        </mat-card>
        <mat-card fxFlex>
          <div class="card">
            <img class="card-image" src="../../assets/images/intro/intro_3.png" alt="">
            <div class="container" fxLayout fxLayoutAlign="center">
              <button fxFlex mat-raised-button color="accent" (click)="navigateTo('messages')">Messages</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>




  <input hidden type="submit" value="click me" id="btn">


