
  <div class="container" fxLayout="column" fxLayoutAlign="center">
    <div fxFlex style="background-image: url(../../assets/images/intro/B1.jpg); background-size:cover; border:ridge; background-attachment: fixed;">
      <div style="min-height: 450px;" [ngStyle.lt-sm]="{'min-height':'250px'}">
        <div class="container" fxLayout fxLayoutAlign="left" fxLayoutAlign.lt-sm="center">
          <img [ngStyle.lt-sm]="{'transform': 'scale(0.9)'}" fxFlexFill.lt-sm src="../../assets/images/intro/Logo.png"/>
        </div>

      </div>
    </div>
  </div>

  <div class="container main-images" fxLayout fxLayoutAlign="center">
    <mat-card fxFlex="60%" fxFlex.lt-sm="100%" class="invite">
      <div style="background-image: url(../../assets/images/backgrounds/bg2.jpg); background-size:cover; min-height: 450px; position: relative">

        <div class="container" fxLayout fxLayoutAlign="left" fxLayoutGap="10px">
          <img class="avatar" style="height: 150px; width: 150px" src="{{user.photoURL}}" alt="">
          <div class="container" fxLayout="column" fxLayoutGap="10px">
            <h3>Dear</h3>
            <h1 style="display: flex;align-items: center;">{{user.displayName}}</h1>
          </div>
        </div>

        <div class="container" fxLayout>
          <div  fxFlex="60%" fxFlex.lt-sm="100%">
            <div fxLayout="column">
              <p style="margin-bottom: 50px">
                ornare. Vestibulum cursus rutrum
                dolor.Donec maximus elit fringilla risus tincidunt,
                ornare. Vestibulum cursus rutrum
                dolor.Donec maximus elit fringilla risus tincidunt,
                ornare. Vestibulum cursus rutrum
                dolor.Donec maximus elit fringilla risus tincidunt,
              </p>

            </div>
          </div>
        </div>

        <!--[ngStyle.lt-sm]="{'position': 'relative'}" style="position: absolute; bottom: 0px;"-->
        <div>
          <div *ngIf="!guestItem.declined && !guestItem.going" class="container" fxLayout fxLayoutGap="20px">
            <button mat-raised-button color="accent" (click)="acceptInvite()">Accept</button>
            <button mat-raised-button color="accent" (click)="declineInvite()">Decline</button>
          </div>
          <div *ngIf="guestItem.going && guestItem.plusOne" class="container" fxLayout fxLayoutGap="20px">
            <div fxLayout="column" fxLayoutGap="20px">
              <p>You have the option to invite a plus one. Please indicate if you will be bringing along someone with you.</p>
              <div fxLayout="">
                <button *ngIf="!guestItem.plusOneGoing" mat-raised-button color="accent" (click)="acceptPlusOneInvite()">Will bring a plus one</button>
                <button *ngIf="guestItem.plusOneGoing" mat-raised-button color="accent" (click)="acceptPlusOneInvite()">Going solo</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </mat-card>
  </div>

  <div class="container main-images" fxLayout fxLayoutAlign="center">
    <div fxFlex="90%" fxFlex.lt-sm="100%">
      <div class="container" fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="30px">
        <mat-card fxFlex>
          <div class="card">
            <img class="card-image" src="../../assets/images/intro/c1.jpg" alt="">
            <div class="container" fxLayout fxLayoutAlign="center">
              <button fxFlex mat-raised-button color="accent" (click)="navigateTo('venue')">Venue</button>
            </div>
          </div>
        </mat-card>
        <mat-card fxFlex>
          <div class="card">
            <img class="card-image" src="../../assets/images/intro/c5.jpg" alt="">
            <div class="container" fxLayout fxLayoutAlign="center">
              <button fxFlex mat-raised-button color="accent" (click)="navigateTo('guests')">Guests</button>
            </div>
          </div>
        </mat-card>
        <mat-card fxFlex>
          <div class="card">
            <img class="card-image" src="../../assets/images/intro/c4.jpg" alt="">
            <div class="container" fxLayout fxLayoutAlign="center">
              <button fxFlex mat-raised-button color="accent" (click)="navigateTo('messages')">Messages</button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>




  <input hidden type="submit" value="click me" id="btn">


