<div fxLayout="row" fxLayoutAlign="start">
  <button mat-icon-button fxFlex="22%">
    <mat-icon (click)="backToDash('dashboard')" aria-label="Example icon-button with a heart icon">backspace</mat-icon>
  </button>
</div>

<div class="container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex fxFlex.gt-sm="80%">
      <form (ngSubmit)="addGuest(); f.resetForm()" #f="ngForm">
        <div class="container" fxLayout="column" fxLayoutGap="10px">

          <mat-form-field fxFlex>
            <mat-select required name="guestType" #guestType="ngModel" [(ngModel)]="guestModel.type"
                        placeholder="Select Type">
              <mat-option *ngFor="let type of types" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!guestType.valid && guestType.touched">
              please select an option
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input required name="name" #name="ngModel" [(ngModel)]="guestModel.name"
                   matInput placeholder="Name" value="">
            <mat-error *ngIf="!name.valid">
              please enter a name
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input required name="surname" #surname="ngModel" [(ngModel)]="guestModel.surname"
                   matInput placeholder="Surname" value="">
            <mat-error *ngIf="!surname.valid">
              please enter a surname
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input required name="table" #table="ngModel" [(ngModel)]="guestModel.table" type="number"
                   matInput placeholder="Table" value="">
            <mat-error *ngIf="!table.valid">
              please enter a table number
            </mat-error>
          </mat-form-field>

          <button [disabled]="!f.valid" mat-raised-button color="accent">Submit</button>
        </div>
      </form>

    </mat-card>
  </div>


  <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex fxFlex.gt-sm="80%">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
            <mat-cell *matCellDef="let guest"> {{guest.type}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
            <mat-cell *matCellDef="let guest"> {{guest.name}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="surname">
            <mat-header-cell *matHeaderCellDef> Surname</mat-header-cell>
            <mat-cell *matCellDef="let guest"> {{guest.surname}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="table">
            <mat-header-cell *matHeaderCellDef> Table</mat-header-cell>
            <mat-cell *matCellDef="let guest"> {{guest.table}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> action</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-slide-toggle
                (change)="updateSelected($event,row)"
                class="example-margin"
                [checked]="row.going">
              </mat-slide-toggle>
              <button mat-icon-button color="primary" focusable="false" (click)="removeItem(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row (click)="selectItem(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>

