<div fxLayout="row" fxLayoutAlign="start">
  <button mat-icon-button fxFlex="22%">
    <mat-icon (click)="backToDash('dashboard')" aria-label="Example icon-button with a heart icon">backspace</mat-icon>
  </button>
</div>

<div class="container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="center">
    <mat-card fxFlex fxFlex.gt-sm="80%">
      <form (ngSubmit)="addExpense(); f.resetForm()" #f="ngForm">
        <div class="container" fxLayout="column" fxLayoutGap="10px">

          <mat-form-field fxFlex>
            <mat-select required name="expenseType" #expenseType="ngModel" [(ngModel)]="expenseModel.type"
                        placeholder="Select Type">
              <mat-option *ngFor="let type of types" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!expenseType.valid && expenseType.touched">
              please select an option
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input required name="description" #description="ngModel" [(ngModel)]="expenseModel.description"
                   matInput placeholder="Description" value="">
            <mat-error *ngIf="!description.valid">
              please enter a description
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input required name="price" #price="ngModel" [(ngModel)]="expenseModel.price" type="number"
                   matInput placeholder="Price" value="">
            <mat-error *ngIf="!price.valid">
              please enter an price
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input required name="quantity" #quantity="ngModel" [(ngModel)]="expenseModel.quantity" type="number"
                   matInput placeholder="Quantity" value="">
            <mat-error *ngIf="!quantity.valid">
              please enter an quantity
            </mat-error>
          </mat-form-field>

          <mat-form-field fxFlex>
            <input required name="budget" #budget="ngModel" [(ngModel)]="expenseModel.budget" type="number"
                   matInput placeholder="Budget" value="">
            <mat-error *ngIf="!budget.valid">
              please enter an budget
            </mat-error>
          </mat-form-field>

          <button [disabled]="!f.valid" mat-raised-button color="accent">Submit</button>
        </div>
      </form>

    </mat-card>
  </div>


  <div *ngIf="loading" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex fxFlex.gt-sm="80%">
      <div class="example-container mat-elevation-z8">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource">

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef> Type</mat-header-cell>
            <mat-cell *matCellDef="let expense"> {{expense.type}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef> Description</mat-header-cell>
            <mat-cell *matCellDef="let expense"> {{expense.description}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="price">
            <mat-header-cell *matHeaderCellDef> price</mat-header-cell>
            <mat-cell *matCellDef="let expense"> {{expense.price}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="quantity">
            <mat-header-cell *matHeaderCellDef> quantity</mat-header-cell>
            <mat-cell *matCellDef="let expense"> {{expense.quantity}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="budget">
            <mat-header-cell *matHeaderCellDef> budget</mat-header-cell>
            <mat-cell *matCellDef="let expense"> {{expense.budget}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef> action</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-slide-toggle
                (change)="updateSelected($event,row)"
                class="example-margin"
                [checked]="row.selected">
              </mat-slide-toggle>
              <button mat-icon-button color="primary" focusable="false" (click)="removeItem(row)">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row (click)="selectItem(row)" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>

