<div class="container margin-top" fxLayout fxLayoutAlign="center">
  <div fxFlex fxFlex.gt-sm="90%">
    <div *ngIf="!showTables" class="container tables" fxLayoutAlign="center" fxLayout fxLayoutWrap="wrap">
      <mat-card fxFlex="100">
        <h2 style="text-align: center">Seating arrangements and allocations will be available to view here in the near future.</h2>
      </mat-card>
    </div>

    <div *ngIf="showTables"  fxLayout fxLayoutGap="30px" fxLayout.lt-md="column">
      <div fxFlex="70%" fxFlex.lt-sm>
        <div fxLayoutAlign fxLayoutAlign="center">
          <h2>Tables</h2>
        </div>
        <div class="container tables" fxLayoutAlign="center" fxLayout fxLayoutWrap="wrap">
          <div *ngFor="let item of tables" fxFlex="25%" fxFlex.lt-sm="50%">
            <div (click)="selectTable(item)" class="table-container">
              <img src="../../assets/images/guests/table_2.jpg" class="table" alt="">
              <p class="table-numbers">{{item.table}}</p>
            </div>
          </div>
        </div>
      </div>
      <div fxFlex fxFlex.gt-sm="30%" class="guest-names">
        <h2>Guest list for Table: {{currTable}}</h2>
        <div fxLayout fxLayoutAlign="center" fxLayoutWrap="wrap">
          <div *ngFor="let item of guestList" fxFlex="50%">
            <ul>
              <li>{{item.name}}</li>
            </ul>
          </div>
        </div>

      </div>
    </div>

    <div fxLayoutAlign fxLayoutAlign="center">
      <h2 style="margin-bottom: 0">Dress code: Formal </h2>
    </div>

    <div fxLayoutAlign fxLayoutAlign="center">
      <p>No jeans, T-shirts, sneakers or sandals allowed </p>
    </div>

    <div fxLayout fxLayout.lt-sm="column" fxLayoutAlign="center center"  fxLayoutGap="30px" fxLayoutWrap="scroll">
      <div *ngFor="let img of imgList" class="img" fxFlex="15">
        <img src="../../assets/images/guests/{{img}}" alt="" class="img-responsive">
      </div>
    </div>
  </div>
</div>
