<!--The content below is only a placeholder and can be replaced.-->
<div style="background-image: url(../../assets/images/backgrounds/bg1.jpg); background-size:cover;">

  <app-header></app-header>

  <router-outlet></router-outlet>

  <mat-toolbar color="primary" style="margin-top: 15px">
    <mat-toolbar-row>
      <p style="font-size: 16px"><a href="https://termsfeed.com/privacy-policy/fef1e3cb699f3f0a1f31a09d12852f1a" style="color: #ffffff">terms & conditions</a></p>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
