<div class="venue-intro"></div>

<ngx-carousel
  [inputs]="carouselTile"
  (carouselLoad)="carouselTileLoad($event)">

  <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
    <img src="http://via.placeholder.com/500x500" alt="" style="width: 100%; height: auto">
  </ngx-tile>

  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>

<div class="container main-images" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex="60%" fxFlex.lt-sm="100%">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3588.8960967207863!2d28.126823315107337!3d-25.905785983571526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1e9565446d4652b5%3A0xd79a9ba2faaa0661!2s47+Dawie+De+Villiers+St%2C+The+Reeds%2C+Centurion%2C+0061!5e0!3m2!1sen!2sza!4v1508869112265" frameborder="0" style="border:0; width: 100%; height: auto; min-height: 300px" allowfullscreen>
    </iframe>
  </mat-card>
</div>
