h1{
  min-height: 200px;
  //background-color: #ccc;
  text-align: center;
  line-height: 200px;
  border-radius: 90%;
}

.venue-intro {
  min-height: 350px;
  background-image: url(http://via.placeholder.com/350x700);
  background-size:cover;
  border:ridge;
  margin-bottom: 15px;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
  border-radius: 999px;
  right: 0;
}
