<div class="container margin-top" fxLayout fxLayoutAlign="center">
  <mat-card fxFlex fxFlex.gt-sm="80%">
    <form id="incomeForm">
      <div class="container" fxLayout="column" fxLayoutGap="10px">

        <pre>{{ incomeModel | json }}</pre>

        <!--<mat-form-field fxFlex>-->
          <!--<input required name="amount" [(ngModel)]="incomeModel.amount" type="number" matInput placeholder="Amount" value="">-->
        <!--</mat-form-field>-->


        <!--<mat-form-field fxFlex>-->
          <!--<input required name="description" [(ngModel)]="incomeModel.description" matInput placeholder="Description" value="">-->
        <!--</mat-form-field>-->

        <!--<mat-select required name="type" [(ngModel)]="incomeModel.type" placeholder="Select Type">-->
          <!--<mat-option *ngFor="let type of types" [value]="type">-->
            <!--{{ type }}-->
          <!--</mat-option>-->
        <!--</mat-select>-->

        <div>
          <form [formGroup]="rForm" (ngSubmit)="addPost(rForm.value)">
            <mat-form-field fxFlex>
              <input matInput type="text" formControlName="name">
              <div *ngIf="!rForm.controls['name'].valid && rForm.controls['name'].touched">
                this is required
              </div>
            </mat-form-field>

            <mat-form-field fxFlex>
              <input matInput type="text" formControlName="description">
            </mat-form-field>

            <input type="checkbox" name="validate" formControlName="validate" value="1"> On

            <input type="submit" value="Submit Form" [disabled]="!rForm.valid">
          </form>
        </div>


      </div>
    </form>
  </mat-card>
</div>
