<div class="message-intro container" fxLayout>
  <mat-card class="message-from" fxFlex fxFlex.gt-sm="40%" fxFlexOffset.gt-sm="10%">
    <form #f="ngForm">
      <mat-card-header>
        <div mat-card-avatar
             [ngStyle]="{'background-image': 'url(' + user.photoURL + ')','background-size':'cover'}"></div>
        <mat-card-title>Hi {{user.displayName}}</mat-card-title>
        <mat-card-subtitle>Leave us a message</mat-card-subtitle>
        <mat-icon class="message-icon">verified_user</mat-icon>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>

        <mat-form-field fxFlex style="margin-top: 15px">
          <textarea required name="message" #message="ngModel" [(ngModel)]="messageModel" matInput
                    placeholder="My Message"></textarea>
          <mat-error *ngIf="!message.valid">
            please enter a message
          </mat-error>
        </mat-form-field>
      </mat-card-content>

      <div class="form-group">
        <button (click)="fileClick()" mat-raised-button color="accent">Attach</button>
        <input hidden type="file" id="file" (change)="handleFileSelect($event)">
      </div>

      <div class="container" style="margin-bottom: 50px; margin-top: 10px" fxLayout>
        <img style="height: 100%; width: 100%" *ngIf="base64textString" src="{{base64textString}}" alt="">
      </div>

      <div class="move-bottom">
        <mat-card-actions>
          <button style="left: 15px;" (click)="addPost(f);" [disabled]="!f.valid" mat-raised-button color="accent">Post
            Message
          </button>
        </mat-card-actions>

        <section>
          <mat-progress-bar class="progress"
                            [value]="uploadPercentage | async">
          </mat-progress-bar>
        </section>
      </div>
    </form>
  </mat-card>
</div>

<div class="container" fxLayout fxLayoutAlign="center">
  <h1>Message Center</h1>
</div>

<div *ngIf="messagesLoaded" class="container" fxLayout.gt-sm="row" fxLayout="column" fxLayoutAlign="center"
     fxLayoutGap="15px">

  <div fxFlex="30">
    <div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">

      <div *ngFor="let tile of tiles">
        <div class="container" fxLayout>
          <mat-card fxFlex="100">
            <div class="container" fxLayout fxLayoutAlign="center">
              <div fxFlex="90">

                <div style="padding: 15px 0 15px 0; display: flex; align-items: center" class="container" fxLayout>
                  <div mat-card-avatar class="user-image"
                       [ngStyle]="{'background-image': 'url(' + tile.photoUrl + ')'}"></div>
                  <p style="padding-left: 15px">Message from: <strong>{{tile.from}}</strong></p>
                </div>

                <p>{{tile.message}}</p>

                <div class="container" style="margin-top: 10px" fxLayout>
                  <img style="height: 100%; width: 100%" src="{{tile.attachmentUrl}}" alt="">
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>


    </div>
  </div>
  <div fxFlex="30">
    <div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">

      <div *ngFor="let tile of tiles1">
        <div class="container" fxLayout>
          <mat-card fxFlex="100">
            <div class="container" fxLayout fxLayoutAlign="center">
              <div fxFlex="90">

                <div style="padding: 15px 0 15px 0; display: flex; align-items: center" class="container" fxLayout>
                  <div mat-card-avatar class="user-image"
                       [ngStyle]="{'background-image': 'url(' + tile.photoUrl + ')'}"></div>
                  <p style="padding-left: 15px">Message from: <strong>{{tile.from}}</strong></p>
                </div>

                <p>{{tile.message}}</p>

                <div class="container" style="margin-top: 10px" fxLayout>
                  <img style="height: 100%; width: 100%" src="{{tile.attachmentUrl}}" alt="">
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>


    </div>
  </div>
  <div fxFlex="30">
    <div class="container" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="15px">

      <div *ngFor="let tile of tiles2">
        <div class="container" fxLayout>
          <mat-card fxFlex="100">
            <div class="container" fxLayout fxLayoutAlign="center">
              <div fxFlex="90">

                <div style="padding: 15px 0 15px 0; display: flex; align-items: center" class="container" fxLayout>
                  <div mat-card-avatar class="user-image"
                       [ngStyle]="{'background-image': 'url(' + tile.photoUrl + ')'}"></div>
                  <p style="padding-left: 15px">Message from: <strong>{{tile.from}}</strong></p>
                </div>

                <p>{{tile.message}}</p>

                <div class="container" style="margin-top: 10px" fxLayout>
                  <img style="height: 100%; width: 100%" src="{{tile.attachmentUrl}}" alt="">
                </div>
              </div>
            </div>
          </mat-card>
        </div>
      </div>


    </div>
  </div>


</div>


<div class="container" fxLayout fxLayoutAlign="center">
  <div fxFlex="80%" fxLayoutAlign="end center">
    <button (click)="backToTop()" style="margin-top: 10px;margin-bottom: 10px;" mat-fab color="accent">Top</button>
  </div>
</div>


