<div class="message-intro container" fxLayout>
  <mat-card class="message-from" fxFlex fxFlex.gt-sm="40%" fxFlexOffset.gt-sm="10%" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Hi (name)</mat-card-title>
      <mat-card-subtitle>Leave us a message</mat-card-subtitle>
      <mat-icon class="message-icon">verified_user</mat-icon>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-form-field fxFlex style="margin-top: 15px">
        <textarea matInput placeholder="My Message"></textarea>
      </mat-form-field>
    </mat-card-content>

    <div class="move-bottom">
      <mat-card-actions>
        <button mat-button>POST</button>
      </mat-card-actions>
    </div>

  </mat-card>
</div>

<div class="container" fxLayout fxLayoutAlign="center">
  <h1>Message Center</h1>
</div>

<div class="container" fxLayout fxLayoutAlign="center">
  <div fxFlex="80%" fxFlex.lt-sm>
    <mat-grid-list gutterSize="10" cols="2" cols.gt-sm="4" rowHeight="100px">
      <mat-grid-tile
        *ngFor="let tile of tiles"
        [colspan]="tile.cols"
        [rowspan]="tile.rows">
        <div class="custom-card">
          {{tile.text}}
        </div>


      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>


<div class="container" fxLayout fxLayoutAlign="center">
  <div fxFlex="80%" fxLayoutAlign="end center">
    <button style="margin-top: 10px;margin-bottom: 10px;" mat-fab color="accent">Top</button>
  </div>
</div>


