<div *ngIf="doneLoading" class="container margin-top margin-bottom" fxLayout="column" fxLayoutGap="20px">
  <div class="container" fxLayout fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="20px">
    <mat-card fxFlex="26%">
      <div class="container" fxLayout>
        <div fxFlex>
          <div fxLayoutAlign="center" (click)="navigateTo('income')">Income R{{totalIncome}}</div>
          <canvas baseChart
                  [data]="doughnutIncomeData"
                  [labels]="doughnutIncomeLabels"
                  [chartType]="doughnutIncomeType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                  [legend]="false"></canvas>
        </div>
      </div>
    </mat-card>

    <mat-card fxFlex="26%">
      <div class="container" fxLayout>
        <div fxFlex>
          <div fxLayoutAlign="center">Expenses R{{totalExpense}}</div>
          <canvas baseChart
                  [data]="doughnutExpenseData"
                  [labels]="doughnutExpenseLabels"
                  [chartType]="doughnutExpenseType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                  [legend]="false"></canvas>
        </div>
      </div>
    </mat-card>

    <mat-card fxFlex="26%">
      <div class="container" fxLayout>
        <div fxFlex>
          <div fxLayoutAlign="center">Guests {{totalGuests}}%</div>
          <canvas baseChart
                  [data]="doughnutGuestData"
                  [labels]="doughnutGuestLabels"
                  [chartType]="doughnutGuestType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                  [legend]="false"></canvas>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="container" fxLayoutGap="20px" fxLayout fxLayout.lt-md="column" fxLayoutAlign="center">
    <mat-card fxFlex="60%">
      <div class="container" fxLayout>
        <div fxFlex>
          <div fxLayoutAlign="center">Total Expenses</div>
          <canvas baseChart
                  [data]="pieChartData"
                  [labels]="pieChartLabels"
                  [options]="pieChartOptions"
                  [chartType]="pieChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </mat-card>

    <mat-card fxFlex="20%">
      <div class="container" fxLayout>
        <div fxFlex>
          <div fxLayoutAlign="center">Selected Items Paid</div>
          <mat-selection-list #list>
            <mat-list-option *ngFor="let item of selectedExpenses" (click)="paidItemChange(item)" [selected]="item.paid" [value]="item">
              {{item.description}}
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="container" fxLayoutGap="20px" fxLayout fxLayout.lt-md="column" fxLayoutAlign="center">
    <mat-card fxFlex="20%">
      <div fxFlex>
        <div fxLayoutAlign="center">Guests attendance</div>
        <mat-list>
          <mat-list-item *ngFor="let item of guests"> {{item.name}} {{item.surname}} </mat-list-item>
        </mat-list>
      </div>
    </mat-card>

    <div fxFlex="60%" class="container" fxLayout="column" fxLayoutGap="20px">

      <mat-card fxFlex>
        <div class="container" fxLayout>
          <div style="overflow-x: scroll" fxFlex>
            <div fxLayoutAlign="center">Forecast</div>

            <canvas baseChart width="400" height="400"
                    [datasets]="lineChartData"
                    [labels]="lineChartLabels"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="lineChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
      </mat-card>

      <mat-card fxFlex>
        <div class="container" fxLayout>
          <div fxFlex>
            <div fxLayoutAlign="center">Guest Private Messages</div>
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Self aware panel
                  </mat-panel-title>
                  <mat-panel-description>
                    Currently I am {{panelOpenState ? 'open' : 'closed'}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </mat-card>
    </div>

  </div>
</div>
